:root {
    --bg-color: #cac0c0;
}

* {
    color: black;
    font-family: sans-serif;
}

body {
    /* background: linear-gradient(0.5turn, var(--bg-color), transparent); */
    background-color:var(--bg-color);
}
.content {
    max-width: 700px;
    margin: auto;
    margin-bottom: 100px;
}

.navigation {
    font-weight: 500;
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(56, 18, 11);
    font-weight: bold;
    /* font-family: "Courier New", sans-serif; */
    font-family: 'Indie Flower', cursive;
}

.title {
    font-size: 50px;
}

.index * {
    font-size: 25px;
    font-weight: 500;
    list-style-type: "📌";
    padding-inline-start: 7px;
}

a {
    text-decoration: underline;
    text-decoration-color: transparent;
}

a:hover,
h2:hover {
    text-decoration: underline;
}

a:hover {
    color: rgba(0, 0, 0, 0.479);
}

ol li {
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}

img {
    border-radius: 25px;
    border-style: ridge;
}

img:hover {
    transform: scale(1.05);
}
